*{
    padding: 0.1%;
    margin: 0.3%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8e8e8;
}
h1{
    text-align: center;
    background-color: #3B3737;
    color: white;
    padding: 20px;
}
table, th, td {
    border: 1px solid black;
}
table{
    width: 100%;
    background-color: aqua;
    padding: 1px;
}

#encabezado{
    margin: auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif
}
ul, ol{
    list-style: none;
}

.menu li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
    display: block;
}
.menu > li{
    float: left;
}
.menu li a:hover{
    background-color: aqua;

}
.menu li ul{
    display: none ;
    position: absolute;
    min-width: 150px;
}
.menu li:hover > ul{
    display: block;
}